footer {
    background-color: black;
    position: absolute;
    width: 100%;
    display: block;
    
    text-align: center;
    color: #fff;
}
.owner{
    align-content: center;
    justify-content: center;
    display: flex;
    height: 50px;
    margin: 50px 0 20px;
}
.footer__links-container {
    margin: 30px 10px;
    grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    column-gap: 6px;
    row-gap: 12px;
    display: grid;
    
    justify-items: center;
}

.footer__links-container div {
    display: inline;
}

.link {
    display: inline;
}

.link img {
    margin-right: 7px;
    object-fit: cover;
    /* min-width: 20px; */
    /* min-height: 20px; */
    width: 20px;
    height: 20px;
    display: inline-block;
}

.link a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 900px) {
    .link a {
        font-size: 1.5vw;
    }
    .footer__links-container {
        padding: 30px 0;
        margin: 40px 10;
        row-gap: 20px;
    }
.owner{
    margin: 20px 0 20px;
}
}