.title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}

section {
    margin-top: 90px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    margin: 0 20px;
    text-align: justify;
}

p a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    }

    @media screen and (min-width: 900px) {
        section {
            padding: 70px 60px 50px;
            margin: 120px 120px ;
            display: flex;
            flex-direction: column;
            box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.096);
            border-radius: 30px;
            border: 1px solid rgba(128, 128, 128, 0.144);
        }
        .title {
            font-size: 40px;
        }
        p {
            font-size: 1.5vw;
            margin: 20px 0;
        }
    }